<label class="custom-checkbox-label text-gray-300 relative flex items-center justify-between w-full">
  <input type="checkbox" [id]="'taskCheckbox' + task.description" class="hidden" [(ngModel)]="task.completed">
  <div class="custom-checkbox-icon group-hover:border-2 group-hover:border-gradient"></div>
  <div class="flex items-center w-full">
    <span class="flex-grow">{{ task.description }}</span>
    <button class="opacity-0 group-hover:opacity-100 transition-opacity"><img src="../assets/icon-cross.svg" class="w-4 h-4"></button>
  </div>
</label>
